@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'TerminalGrotesque'; /* Choose a name for your font */
  src: url('./fonts/terminal-grotesque_open.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.TerminalGrotesque {
      font-family: 'TerminalGrotesque' /* Include a fallback font */
  }
.hoverScale {
  transition: 0.3s;
  backface-visibility: hidden;
}

.hoverScale:hover {
  transform: translateZ(0);
  transform: scale(1.01);


}
html{
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(15deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url(img/headerGradient.jpg);
}
.pfp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(15deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(img/pfp.jpg);
}

.darkContent{
  background: rgb(13, 21, 46);
  background: radial-gradient(circle, rgb(2, 7, 19) 0%, rgb(1, 23, 88) 100%);
  
}

.projectImage{

  background-size:cover;
  border-radius: 15px;
}
.cardImage{

  width:40px;
  height: 40px;
  background-size:contain;
  background-repeat: no-repeat;
  margin-bottom: 4px;
}
.USF{
  background-image: url(img/USFLogo.png);
}
.UC{
  background-image: url(img/UCLogo.png);
}
.JPM{
  width:73px;
  background-image: url(img/JPMorgan.png);
}
.PG{
  background-image: url(img/PG.png);
}
.IPG{
  background-image: url(img/IPG.png);
}
.BSA{
  background-image: url(img/BSA.png);
}
.NM{
  background-image: url(img/National\ Merit\ Logo.png);
}


.garageOpener {
  background-image: url(img/GarageOpener.jpeg);
}
.xrays {
  background-image: url(img/xrays.png);
}
.nextStep {
  background-image: url(img/NextStep.png);
}
.LinkedIn {
  width:40px;
  height: 40px;
  background-size:cover;
  background-image: url(img/li.png);
}
.GitHub {
  width:40px;
  height: 40px;
  background-size:cover;
  background-image: url(img/gh.png);
}

.menuBar{

  transition:10s;
  transition:all;
  top:0;
  z-index: 100;

}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  }

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}
.animate-blink {
  animation: blink 1.2s infinite;
}
